@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
:root {
  /* --background: #fbf6ef;  APP BACKGROUND COLOR */
  --brown: #cfc7b8;
  --lightpink: #cdbae8;
  --purple: #1A509C;
  --fucsia: #b40c66;
  --gray: #fafafa;
  --violet: #33208e;
  /* --pink: #c24ba3; Add new card button color*/
}

body {
  padding: 0;
  margin: 0;
  background: var(--background);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", sans-serif;
}

input {
  font-family: "Oswald";
}

.pointer {
  cursor: pointer;
}

.App {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Header {
  margin: 52px auto 0 auto;
  width: 80vw;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: #000066;
  text-shadow: -1px 0 #91c9d0, 0 1px #91c9d0, 1px 0 #91c9d0, 0 -1px #91c9d0;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 40px;
  margin-bottom: 20px;
}

.calculator {
  margin: 20px auto 0 auto;
  width: 90vw;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.cards-container {
  display: flex;
  flex-direction: column;
  /* margin-right: 100px; */
  
}

.BalanceChart {
  width: 90%;
  height: 300px;
}

@media (max-width: 940px) {
  .Header,
  .calculator {
    width: 95vw;
  }

  .BalanceChart {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .BalanceChart {
    height: 200px;
  }
}

@media (max-width: 450px) {
  .Header,
  .calculator {
    width: 98vw;
  }
}

@import url("./card.css");
@import url("./result.css");
@import url("./report.css");
