@media print {

	.close-report,
	.print-report {
		display: none !important;
	}

	table {
		width: 100%;
	}

	.report-inner {
		padding: 8px;
	}

	h4,
	h3,
	p {
		margin-bottom: 1em !important;
	}

	.BalanceChart {
		margin-bottom: 8em;
	}

	.accordion {
		display: none !important;
	}

	.accordion__content {
		max-height: none !important;
	}
}